body {
    background-color:rgb(105, 99, 99);
    background-image: url(Caffe.jpg);
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}    
header {
    height: 118px;
    text-align: left;  
}
nav {
    background-color: rgba(0, 0, 0, 0.41);
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    color: rgb(180, 140, 140);
}
    
main {
    
    height: 400px;
    text-align: center;
    padding-top: 240px;
    padding-left: 240px;
    padding-right: 240px;
}
footer {
    background-color: rgba(0, 0, 0, 0.452);
    height: 30px;
    text-align: center;

}
h1 {
    font-size: 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
footer a {
    font-size: 22px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    text-decoration: none;
}
h2 {
    text-decoration: none;
    color: white;
}